body{
    text-align: center;
    
}
*{
    margin: 0px;
    padding: 0px;
    
}
#input{
    background-image: url("https://media.istockphoto.com/id/1049681110/photo/christmas-snowflakes-on-red-background.jpg?s=1024x1024&w=is&k=20&c=ZUH6Qb-e8evt-2ULFIEhiyyovbKFrY5MUvC2pyMBkFY=");
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
    
}
h1{
    font-size: 3em;
    
}
p{
    font-size: 2em;
    margin: 10px;
}
#number{
    width: 150px;
    height: 40px;
    font-size: 2em;
    padding: 0px 10px;

}
#button{
    width: 120px;
    height: 40px;
    font-size: 1.5em;
    background-color: aquamarine;
    color: rgb(223, 11, 134);
    
}
.circle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgb(197, 37, 9);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    background-color: palegreen;
}
.square{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgb(197, 37, 9);
    height:40px ;
    width:60px ;
    margin: 10px;
    text-align: center;
    background-color: burlywood;

}
.rectangle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgb(10, 118, 145);
    height:50px ;
    width:80px ;
    margin: 10px;
    text-align: center;
    background-color: rgb(193, 232, 248);
}
#box{
    display: flex;
}
.color{
    background-color: blue;
}